/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height:700px;
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      display:block;
      background-color: #e1f1f1;
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: opacity 0.80s ,width 1s;

    }
    
    /* Set black background color, white text and some padding */
    footer {
      /*background-color: #555;*/
      background-color: #e1f1f1;
      color: green;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto; } 
    }

    .oculto{
       transition: opacity 0.80s ,width 1s;
       
      width:0;
      opacity:0;
      /*display: none;*/

}

    iframe {
    min-width: 800px; 
    width: 100%;
    min-height: 600px;
    padding-top: 20px;
    
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: [auto | smooth];
    margin-left: -1px;
    /*display: inline-block;*/

  

    }
/*.row div + div {margin-right: 0;}*/
  
    #btnmaszoom {
  cursor: zoom-in;
}
    #btnmenoszoom {
  cursor: zoom-out;
}
    #barratop
    .navbar {
      background-color:#ffffff;
      color: #e1f1f1;
      height: 16px;
      border: none;
     }


/*//////////////////////////////////////////////////////////////////7*/

/* #sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(0,0,0);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }*/

  .mantener{
  
  /*display: block;*/
  
  /*word-break: none;*/
/*  word-wrap: break-word;*/
  white-space: nowrap !important;
  
}

.expandir{
  transition: opacity 0.80s ,width 1s;
}

/*.hr-success{
  */background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
  .hr-succes { border: 0; 
    height: 1px; 
    background: rgba(15,157,88,.8);
   background-image: linear-gradient(to right, #ccc, #333, #ccc); }

.preloader4 {
   width:105px;
   height:105px;
   display:inline-block;
   padding:100px;
   border-radius:100%;
   border:3px solid;
   border-top-color:rgba(15,157,88,.8);
   border-bottom-color:rgba(0,0,0, 0.15);
   border-left-color:rgba(15,157,88,.8);
   border-right-color:rgba(0,0,0, 0.15);
   -webkit-animation: preloader4 0.8s linear infinite;
   animation: preloader4 0.8s linear infinite;
   align-content: center;
   top:50px;
   float: center;

}
@keyframes preloader4 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader4 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

.test p {
    margin-top: 25px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.swing li {perspective: 20px
transform: rotateY(-90deg);
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}